* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Poppins-ExtraBold;
  src: url("./Poppins/Poppins-ExtraBold.ttf");
}

@font-face {
  font-family: Poppins-Light;
  src: url("./Poppins/Poppins-Light.ttf");
}


.container {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: space-around;
  flex-direction: column;
}

.rocket {
  display: flex;
  width: 400px;
}

.titulo {
  color: #6C63FF;
  font-family: Poppins-ExtraBold;
  font-size: x-large;
  justify-items: left;
}

.subtitulo {
  display: flex;
  justify-content: space-between;
  color: #C8C8C8;
  font-family: Poppins-Light;
  font-weight: 300;
}

.text {
  font-family: Poppins-Light;
  font-size: 100px;
  color: #4D4C59;
}

.top-image {
  display: flex;
}


.saibaMais {
  display: flex;
  align-self: center;
  font-family: Poppins-Light;
  color: #9C9AB6;
}

.subscribe {
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 35px;
  background-color: #6C63FF;
  border-style: hidden;
  border-radius: 5px;
  color: #C8C8C8;
}

.side-2 {
  display: flex;
}